@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');


*{
    margin:0;
    padding:0;
}

.main{
    /* background-image: url(images/mountain3.jfif); */
    background-image: url(images/mountain.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(255, 255, 255); */
    height:100vh;
    width: 100vw;
}

.head{
    height: 10vh;
    width: 100vw;
    text-align: center;
    padding-top: 5vh;
    display: flex;
}

.head .back{
    /* background-color: rgb(251, 177, 79); */
    height: 10vh;
    width: 45vw;
    text-align: start;
    padding-left: 2vw;
}


.head .heading{
    /* background-color: rgb(239, 220, 144); */
    height: 10vh;
    width: 55vw;
    font-size: 2.3rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-family: 'Cinzel', serif;
    text-align: start;
}

.content{
    display: flex;
}

.left{
    /* background-color: rgb(188, 238, 238); */
    height: 90vh;
    width: 30vw;
    padding: 5vh 0 0 8vw;
}

.left .image{
    /* background-image: url(images/wooden.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: rgb(192, 190, 190);
    height: 30vh;
    width: 15vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5vh;
}

.left img{
    height: 22vh;
    width: 12vw;
}

.left .iq{
    /* background-color: aqua; */
    height: 5vh;
    width: 20vw;
    margin-top: 8vh;
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-family: 'Oxygen', sans-serif;
}

.right{
    /* background-color: cornflowerblue; */
    height: 90vh;
    width: 70vw;
    padding: 5vh 5vw;
}

.right .row{
    /* background-color: burlywood; */
    display: flex;
    margin: 2vh 0;
    height: 10vh;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-family: 'Oxygen', sans-serif;
}

.right .profile-label{
    padding-top: 1vh;
    height: 7vh;
    width: 10vw;
}

.right .details{
    margin-left: 1vw;
    border: 2px solid black;
    border-radius: 6px;
    height: 7vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2vw;
}

.right .row4{
    border: none;
}

.right .details1{
    font-size: smaller;
    color: rgb(79, 18, 149);
    
}


.right .details1 a{
    text-decoration: none;
    margin: 30px;
}

#offerbtn{
    background-color: transparent;
    margin-left: 10vw;
    height: 5vh;
    width: 10vw;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(79, 18, 149);
    font-family: 'Oxygen', sans-serif;
    transition: 1s;
}

#offerbtn:hover{
    background-color: rgb(18, 112, 36);
    color: rgb(249, 249, 249);
}

.page2{
    height: 100vh;
    width: 100vw;
}